@media only screen and (max-width: 1700px) {
    .banner-text {
        zoom:140%
    }
}
@media only screen and (max-width: 1000px) {
    .banner-text {
        zoom:70%
    }
}
@media only screen and (max-width: 800px) {
    .banner-text {
        zoom:60%
    }
}
@media only screen and (max-width: 600px) {
    .banner-text {
        zoom:40%
    }
}

.contain{
    margin-top: 200px;
}

#main1{

}

#main2{

}

#main6{
    width: 400px;
    height:400px;
    margin:0 auto;
}

#main7{
    width: 400px;
    height:400px;
    margin:0 auto;
}


